API_KEY=
API_KEY_HEADER=
AMAZON_ADS_CLIENT_ID=
AMAZON_ADS_CLIENT_SECRET=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_QUEUE=
USER_SERVICE_BASE_URL=
USER_SERVICE_API_KEY=
USER_SERVICE_API_KEY_HEADER=
POLICY_SERVICE_BASE_URL=
POLICY_SERVICE_API_KEY=
POLICY_SERVICE_API_KEY_HEADER=
NUM_PROCESSORS=
WORKER_BUFSIZE=
LOG_PATH=